
.box {
    width: 100%;
    height: 100vh;
    display: flex;
}

.inf {
    width: 50%;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: snow;
}

.im {
    width: 50%;
    display: inline-block;
}