.card {
    width: 80%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;

}


.fon{
    height: 100%;
    position: absolute;
    z-index: -1;
}